trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:

- task: Docker@2
  displayName: Build Backend Image
  inputs:
    command: build
    Dockerfile: backend/Dockerfile
    repository: backend

- task: Docker@2
  displayName: Build Frontend Image
  inputs:
    command: build
    Dockerfile: frontend/Dockerfile
    repository: frontend
